section.texture
	.container.fly-in
		.clearfix
		.big-circle.circle-fusee.text-center.octo-top.double-bottom
		h1.text-dark.text-center REJOIGNEZ LES ENTREPRISES QUI ONT PRIS DE L'AVANCE
		h5.text-grey-50.i.text-center Révolutionnez l'expérience de vos clients et optimisez la productivité de votre entreprise.
		.button-box.octo-bottom
			button.button.cta-1.light.centered(ui-sref="form") Passez le test !
section.container
	.clearfix.octo-bottom
	.three.columns.large-visible
		.big-circle.circle-statistics
	.eight.columns
		h2 Argumentaire
		p La disruption inquiète, chahute les dirigeants qui n'ont pas encore pris la mesure de la transition digitale. Face aux entreprises qui ont modifié radicalement leurs modèles, comment permettre aux PME d'éviter la déroute ?
	.clearfix.octo-top.octo-bottom
section.texture#contact
	.container
		.clearfix.octo-bottom
		.seven.columns
			h2 Contactez moi
			form(name='form', autocomplete="off", novalidate).form
				input.big.add-bottom(placeholder="Votre email", type="email" ng-model="data.email", autocomplete="off", required)
				input.big.add-bottom(placeholder="Nom de votre entreprise", type="text", ng-model="data.company", autocomplete="off", required)
				textarea.big.add-bottom(placeholder="Votre message", type="text", ng-model="data.message", autocomplete="off", required)
				.clearfix
				button.button.cta-2.double-top.octo-bottom.spinner.dark(id="button-validate", type="submit", ng-click="sendContact()")
					span Envoyer
					.spin
		.four.columns.large-visible
			.big-circle.circle-contact.octo-top
section.bg-dark
	.container
		.twelve.columns.quad-top.double-bottom
			p.small.text-center.text-white Copyright € 2015 Etienne de Rocquigny
