//- section.bg-dark#nav
	.container
		.twelve.columns
			//- p.i.text-white.double-top.large-visible.float-left Etienne de Rocquigny
			//- nav.float-right.double-top.double-bottom
				a(ui-sref="nav.home").text-white.double-right Accueil
				a(ui-sref="nav.whoami").text-white.double-right Qui suis-je ?
				a(ui-sref="nav.faq").text-white.double-right FAQ
			.clearfix
div(ui-view="")