<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Rejoignez les entreprises qui ont pris de l'avance.</h1>
    <p>Révolutionnez l'expérience de vos clients et optimisez la productivité de votre entreprise.</p>
    <a type="button" class="btn btn-lg btn-primary" href=""><span class="glyphicon glyphicon-download"></span> Passez le test!</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    La description de mon service est ici. Si le diagnostic est pris, les arguments commerciaux y sont affichés en premier.
  </div>
  <hr>
  <div class="row">
  </div>
</div>


</body>
</html>
